"*":
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 11
  "exception-reporting":
    userId: "7ffede64-9468-7be4-0c7a-e35828a364eb"
  "go-plus":
    currentPanelHeight: "38.72222222222222vh"
    panel:
      currentHeight: "29.382621951219512vh"
  "linter-ui-default":
    panelHeight: 125
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
